# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2.1
jobs:
  build:
    docker:
      - image: circleci/ruby:2.6.3-node-browsers
      - image: circleci/postgres:10.7-postgis

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle

      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}

      - run:
          name: run rails new
          command: |
            mkdir /tmp/rails_starterkit_sampleapp
            bundle exec rails new $_ -m ./app_template.rb --skip-bundle --skip-webpack-install

      - store_test_results:
          path: /tmp/rails_starterkit_sampleapp
      - store_artifacts:
          path: /tmp/rails_starterkit_sampleapp
          destination: test-results
